.Main {
  min-width: 100vw;
  min-height: 88vh;
  background: white;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #c5c5c5;
  border-top: none;
  border-bottom: none;
  max-width: 1500px;
  min-width: 1000px;
}

.hr {
  border-bottom: 1px solid #c5c5c5;
}

